$color-background: #001C37; //фон
$color-background-light: #01376A; //подложка
$color-background-2: linear-gradient(180.00deg, #ffc549,#9d3700 100%); //подложка 2
$color-background-3: linear-gradient(180.00deg, #93b95e,#002942 100%); //подложка 3
$color-primary: linear-gradient(180.00deg, #33cb47,#005132 100%);; //кнопка
$color-text-primary: #FFFFFF; // текст 1
$color-text-secondary: #392500; // текст 2
$color-text-tertiary: #1F2916; // текст 3
$color-text-4: #30DA4D; // текст 4

$transition: .2s ease-out;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Philosopher', serif; 

$header-mobile-height: 210px;
$header-desktop-height: 80px;
$mb-section: 120px;