@use '../helpers' as *;

.cookie-banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;

    z-index: 333;

    &.is-active {
        display: grid;
    }
    &__inner {
        position: relative;
        background-color: $color-background-light;
        box-shadow: $card-shadow;
        padding: 20px;

        @include tablet-sm {
            max-width: 560px;
        }
    }
    &__text {
        font-size: 18px;
        line-height: 23px;
        font-weight: 600;
        color: $color-text-primary;
        margin-top: 32px;
        margin-bottom: 20px;
    }
    &__buttons {
        display: grid;
        gap: 16px;

        @include tablet-sm {
            grid-template-columns: 1fr 1fr;
        }
    }
    &__close {
        font-family: serif;
        position: absolute;
        top: 20px;
        right: 20px;
        border: 0;
        padding: 0;
        font-size: 24px;
        font-weight: normal;
        color: $color-text-primary;
    }
}