@use '../helpers' as *;

.header-wrapper {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.header {
    @include tablet-md {
        display: flex;
        align-items: center;
        gap: 20px;
        min-height: $header-tablet-height;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background: $header-gradient;
        z-index: 1;

        @include tablet-md {
            height: $header-tablet-height;
        }
    }
    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 51px;
        flex-shrink: 0;
        z-index: 2;

        @include tablet-md-below {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    &__logo {
        flex-shrink: 0;
    }
    &__menu {
        @include tablet-md-below {
            visibility: hidden;
            opacity: 0;
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            background-color: $color-background;
            transition: $transition;
    
            &.is-active {
                visibility: visible;
                opacity: 1;
            }
        }
        @include tablet-md {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            z-index: 2;
        }
    }
    &__contacts {
        @include tablet-md-below {
            display: grid;
            place-items: center;
            width: 100%;
            background-color: $color-background-footer;
            padding: 31px;
        }
        @include laptop {
            display: flex;
            align-items: center;
        }
    }
    &__contact {
        display: flex;
        align-items: center;

        &-icon {
            width: 24px;
            height: 24px;
            margin: 18px;
        }
    }
    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding-top: 120px;

        @include tablet-md {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 22px;
            padding-top: 0;
            margin: 0 auto;
        }
    }
    &__link {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 20px;
        color: $color-text-primary;
        font-weight: 900;
        text-decoration: none;
        transition: $transition;

        &.is-active {
            color: $color-primary;
        }
    }
    &__button {
        width: 40px;
        height: 40px;
        background-image: url("../../images/burger.svg");
        background-size: contain;
        background-position: center;
        border: 0;
        transition: $transition;

        &.is-active {
            background-image: url("../../images/cross.svg");
        }

        @include tablet-md {
            display: none;
        }

        @include hover {
            transform: scale(.9);
        }
    }
}