$color-primary: #FF6A00;
$color-secondary: #00BBFF;
$color-danger: #FF0000;

$color-background: #404652;
$color-background-light: #646D80;
$color-background-about: #B16E40;
$color-background-footer: #2C323D;

$color-text-primary: #FFFFFF;
$color-text-secondary: #00FFE1;
$color-text-form: #BEBEBE;
$color-text-footer: #909BAF;


$font-name: 'Source Serif Pro';